.slidebar{
    display: none;
   
    margin-top: 15px;
  }
  @media screen and (max-width: 750px) {
    .slidebar{
      display: block;
    }
  
  }
  .head{
    background-color: aqua;
   
  }
  @media screen and (max-width: 400px) {
    .main{
     .header2{
      
      height: 10px;
     }
    }
  
  }
